@config "../../tailwind.config.ts";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 222 47% 6%;
		--foreground: 0 0% 98%;
		--card: 222 47% 6%;
		--card-foreground: 0 0% 98%;
		--popover: 222 47% 6%;
		--popover-foreground: 0 0% 98%;
		--primary: 258 90% 66%;
		--primary-foreground: 0 0% 10%;
		--secondary: 316 87% 65%;
		--secondary-foreground: 0 0% 98%;
		--muted: 222 14% 20%;
		--muted-foreground: 0 0% 80%;
		--accent: 204 88% 60%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 72% 50%;
		--destructive-foreground: 0 0% 98%;
		--border: 222 14% 20%;
		--input: 222 14% 20%;
		--ring: 258 90% 66%;
		--chart-1: 258 90% 66%;
		--chart-2: 316 87% 65%;
		--chart-3: 204 88% 60%;
		--chart-4: 50 98% 60%;
		--chart-5: 160 85% 55%;
		--sidebar-background: 225 6% 10%;
		--sidebar-foreground: 0 0% 96%;
		--sidebar-primary: 258 90% 66%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 225 7% 16%;
		--sidebar-accent-foreground: 0 0% 96%;
		--sidebar-border: 225 7% 16%;
		--sidebar-ring: 258 90% 66%;
		--color-1: 316 100% 63%;
		--color-2: 258 100% 63%;
		--color-3: 204 100% 63%;
		--color-4: 195 100% 63%;
		--color-5: 50 100% 63%;
	}
}

@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
}



@layer base {
  * {
    @apply border-border;
	}
  body {
    @apply bg-background text-foreground;
	}
}
